src/OKHOSTING.ERP.Local.Mexico.Facturacion/Service References/Timbrado.FormasDigitales/WSForcogsaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cancelacfd.sat.gob.mx" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://cancelacfd.sat.gob.mx" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://dev.facturacfdi.mx:8081/WSTimbrado/WSForcogsaService?xsd=1" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="CancelaCFD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" form="qualified" name="Cancelacion" type="tns:Cancelacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCFDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" form="qualified" name="CancelaCFDResult" type="tns:Acuse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Cancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="Folios">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" form="qualified" name="UUID" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="ns1:Signature" />
    </xs:sequence>
    <xs:attribute name="RfcEmisor" type="xs:string" />
    <xs:attribute name="Fecha" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:complexType name="Acuse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="Folios">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" form="qualified" name="UUID" type="xs:string" />
            <xs:element minOccurs="0" form="qualified" name="EstatusUUID" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="ns1:Signature" />
    </xs:sequence>
    <xs:attribute name="CodEstatus" type="xs:string" />
    <xs:attribute name="Fecha" type="xs:dateTime" use="required" />
    <xs:attribute name="RfcEmisor" type="xs:string" />
  </xs:complexType>
</xs:schema>